
#bullet-logo {
     height: 10vh;
}

.food-image {
    border-radius: 25px;
    border-style: solid;
    border: 10px maroon;
}

#navbar {
    background-color: maroon;
    max-height: 20vh;
}

#search-button {
    margin: maroon;
}

.navbar-item{
    font-weight: bolder;
    color: wheat;
}

.card {
    background-color: wheat;
    border-color: maroon;
    border-width: 20px;
}

.logo-img {
    height: 25vw;
    width: max-content;
    display: block;
    margin-left: auto;
  margin-right: auto;
}

.link-card {
    font-weight: bolder;
}

.navbar-burger{
    color: wheat;
    height: 0%;
    margin-top: 10vh;
}

#navbarBasicExample{
    margin: auto;
    padding: 0%;
    background-color: maroon;
}

